@import 'tailwindcss';



/*** 🔶Content🔶 ***/

/** background & color **/
@utility bg-* { background: --value([*]); }
@utility bg-color-* { background-color: --value([*]); }
@utility color-* { color: --value([*]); }
