@import 'tailwindcss';



/*** 🔶Placed🔶 ***/

/** aligned **/
@utility aligned { align-self: center; }
@utility aligned-start { align-self: start; }
@utility aligned-end { align-self: end; }
@utility aligned-stretch { align-self: stretch; }

/** justified **/
@utility justified { justify-self: center; }
@utility justified-start { justify-self: start; }
@utility justified-end { justify-self: end; }
@utility justified-stretch { justify-self: stretch; }

/** placed **/
@utility placed { align-self: center; justify-self: center; }
@utility centered { align-self: center; justify-self: center; }
@utility started { align-self: start; justify-self: start; }
@utility ended { align-self: end; justify-self: end; }

/** placed 2 **/
@utility started-ended { align-self: start; justify-self: end; }

/** flexed **/
@utility no-shrink { flex-shrink: 0; }
@utility basis-* { flex-basis: --value([*]); }
@utility order-* { order: --value([*]); }
@utility grow { flex-grow: 1; }
@utility grow-* { flex-grow: --value([*]); }
@utility shrink { flex-shrink: 1; }
@utility shrink-* { flex-shrink: --value([*]); }
@utility flexed-* { flex: --value([*]); }

/** grided **/
@utility grid-row-* { grid-row: --value([*]); }
@utility grid-col-* { grid-column: --value([*]); }
@utility grid-area-* { grid-area: --value([*]); }
